@-webkit-keyframes frame1 {
    from {opacity: 0;}
    to {opacity: 1;}
}

.frame-1{
    -webkit-animation-name: frame1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    margin-left: -10%;
    font-size: 50px;
    line-height: 30px;
}

.gallery-img{
    transition: transform .6s ;

}

.gallery-img:hover{
    -webkit-transform: scale(1.2); /* Safari 3-8 */
}


#a1:hover{
    background-color: darkorange;
    border-radius: 10px;
    border: 1px solid white;
}

#a2:hover{
    background-color: darkorange;
    border-radius: 10px;
    border: 1px solid white;
}

#a3:hover{
    background-color: darkorange;
    border-radius: 10px;
    border: 1px solid white;
}
#a4:hover{
    background-color: darkorange;
    border-radius: 10px;
    border: 1px solid white;
}
#a5:hover{
    background-color: darkorange;
    border-radius: 10px;
    border: 1px solid white;
}
#a6:hover{
    background-color: darkorange;
    border-radius: 10px;
    border: 1px solid white;
}

.fa {
    padding: 20px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;

}

.fa:hover {
    opacity: 0.9;
    background-color: black;
}

.fa-facebook {
    background: #3B5998;
    color: white;

    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

#tags{
    animation-name: example;
    animation-duration: 4s;
}

@-webkit-keyframes example {
    0%   {bottom:-50px;}
    100%  {bottom:0px;}
}